body {
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  margin: 40px 40px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

img {
  height: 150px;
  border: 4px solid #564b47;
  margin: 10px 20px 5px 20px;
  box-shadow: 4px 4px 4px #444;
}

.title {
  text-align: center;
}

#presidents {
  height: 320px;
  display: inline-block;
  overflow: hidden;
  padding-top: 80px;
}

.pres {
  float: left;
}

#controls {
  width: 900px;
  margin: 5px auto;
}

.selection {
  display: inline-block;
  width: 180px;
}

button {
  display: inline-block;
}

.dead {
  opacity: 0;
  width: 0px;
  -webkit-transition: opacity 0.8s, width 0.8s 0.8s;
}

.dead img {
  width: 0px;
  height: 0px;
  margin-top: 84px;
  -webkit-transition: width 0.8s, height 0.8s, margin-top 0.8s;
}

.alive {
  opacity: 1;
  width: 160px;
  -webkit-transition: width 0.8s, opacity 0.8s 0.8s;
}

.alive img {
  width: 120px;
  height: 150px;
  margin-top: 10px;
  -webkit-transition: width 0.8s 0.8s, height 0.8s 0.8s, margin-top 0.8s 0.8s;
}