body {
  background-color: #e1ddd9;
  font-size: 18px;
  font-family: 'Quattrocento', serif;
  color:#564b47;  
  margin: 40px 40px;
  text-align: center;
}


a:link, a:visited {text-decoration: none; color: inherit;}
a:hover, a:active {text-decoration: underline;}

h1 {
  font-size: 3em;
  text-align: left;
}

.title {
  width: 1030px;
  margin: auto;
}

img {
  border: 4px solid #564b47;
  box-shadow: 4px 4px 4px #444;
}

#explanation {
  width: 800px;
  margin: auto;
  text-align: left;
}

.slidingDiv {
  height:1600px;
}
 
.show_hide {
    display:none;
}


#presidents {
  height: 280px;
  display: inline-block;
  overflow: hidden;
  padding-top: 30px;
}

.pres {
  float: left;
  padding: 0px;
}

#controls {
  width: 1000px;
  margin: 5px auto;
}

#selector {
  width: 800px;
  display: inline-block;
}

.daterow {
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 24px;
}

.selection {
  display: inline-block;
  width: 260px;
}

button {
  display: inline-block;
}

.dead {
  opacity: 0;
  width: 0px;
  -webkit-transition: opacity 0.8s, width 0.8s 0.8s;
  -moz-transition: opacity 0.8s, width 0.8s 0.8s;
  -o-transition: opacity 0.8s, width 0.8s 0.8s;
  transition: opacity 0.8s, width 0.8s 0.8s;
}

.dead img {
  width: 0px;
  height: 0px;
  margin-top: 84px;
  -webkit-transition: width 0.8s, height 0.8s, margin-top 0.8s;
  -moz-transition: width 0.8s, height 0.8s, margin-top 0.8s;
  -o-transition: width 0.8s, height 0.8s, margin-top 0.8s;
  transition: width 0.8s, height 0.8s, margin-top 0.8s;
}

.alive {
  opacity: 1;
  width: 178px;
  -webkit-transition: width 0.8s, opacity 0.8s 0.8s;
  -moz-transition: width 0.8s, opacity 0.8s 0.8s;
  -o-transition: width 0.8s, opacity 0.8s 0.8s;
  transition: width 0.8s, opacity 0.8s 0.8s;
}

.alive img {
  width: 144px;
  height: 144px;
  margin-top: 10px;
  -webkit-transition: width 0.8s 0.8s, height 0.8s 0.8s, margin-top 0.8s 0.8s;
  -moz-transition: width 0.8s 0.8s, height 0.8s 0.8s, margin-top 0.8s 0.8s;
  -o-transition: width 0.8s 0.8s, height 0.8s 0.8s, margin-top 0.8s 0.8s;
  transition: width 0.8s 0.8s, height 0.8s 0.8s, margin-top 0.8s 0.8s;
}