<!DOCTYPE html>
<html>

<head>

  <title>Living Presidents</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="moment.min.js"></script>

</head>

<body>

  <div class="title"></div>

  <div id="presidents">
    
  </div>

  <div id="instructions">
    <p>Choose a date to see which US Presidents were alive (and had already held office) on a given day.</p>
  </div>

  <div id="controls">
    
    <div id="selector"></div>

    <button type="button" onclick="earlier()">Earlier</button>
    <p class="selection">0</p>
    <button type="button" onclick="later()">Later</button>

  </div>

</body>
</html>

<script type="text/javascript">

  var presCache;
  var transitionDates = [];
  var today = moment();

  // put presidents on the page, hidden
  $.getJSON("prezfb.json", function(presidentObjects){
    orderedPresidentList = $(presidentObjects).sort(sortByInauguration);
    presCache = orderedPresidentList;
    $.each(orderedPresidentList, function (index, president) {
      transitionDates.push(president.took_office, president.death);
      $('#presidents').append('<div class="pres" id="' + president.birth + '"><a href="' + president.url + '" target="_blank"><img src="' + president.imageURL + '" alt="' + president.name + '" /></a>' + '<p>' + president.name + '</p></div>');
    });
 
    showPresidents(moment());

    // sort & unique list of transition dates
    transitionDates.sort().splice(transitionDates.indexOf(null));
    transitionDates = $.grep(transitionDates, function(v, k){
      return $.inArray(v ,transitionDates) === k;
    });

  });


  function earlier() {
    var selection = $( '#selector' ).slider( 'value' );
    for ( var i = transitionDates.length - 1; i >= 0; i-- ) {
      if ( moment(transitionDates[i], "YYYY-MM-DD" ).isBefore( generateDate(selection) ) ) {
        $( "#selector" ).slider( "value", ( generateNumber( moment(transitionDates[i], "YYYY-MM-DD" ) ) ) -1 );
        break;
      };
    };  
  };

  function later() {
    var selection = $( '#selector' ).slider( 'value' );
    for ( var i = 0 ; i <= transitionDates.length - 1; i++ ) {
      if ( moment(transitionDates[i], "YYYY-MM-DD" ).isAfter( generateDate(selection) ) ) {
        $( "#selector" ).slider( "value", ( generateNumber( moment(transitionDates[i], "YYYY-MM-DD" ) ) ) );
        break;
      };
    }; 
  }

  // most of the magic happens here
  function showPresidents(chosenDate) {

    // show dates on the page
    displayDates(chosenDate);
    
    selectedPresidentList = presCache.filter(function(index, president) {
      return moment(president.took_office) <= chosenDate && (moment(president.death) > chosenDate || moment(president.death) == null); 
    });

    removedPresidentList = presCache.filter(function(index, president) {
      return (moment(president.death) < chosenDate && moment(president.death) !== null) || moment(president.took_office) > chosenDate; 
    });

    $.each(removedPresidentList, function (index, president) {
      $('#presidents').find('#' + president.birth).removeClass( "alive" ).addClass( "dead" )
    });

    $.each(selectedPresidentList, function (index, president) {
      $('#presidents').find('#' + president.birth).removeClass( "dead" ).addClass( "alive" )
    });
  };


  // slider
  $(function() {  
    $( "#selector" ).slider({
      max: 0,
      min: -82000,
      value: 0,
      animate: 1000,
      create: function( event, ui ) {
        showPresidents(moment());
      },
      slide: function( event, ui ) {
        showPresidents(generateDate(ui.value));
      },
      change: function( event, ui ) {
        showPresidents(generateDate(ui.value));
      }
    });
  }); 

  // some helper stuff

  // takes a number from the slider, counts back that many days, returns date
  function generateDate(number) {
    var d = moment().add('days', number);
    if (d.isBefore(moment('1789-03-30'))) {
      d = moment('1789-03-30');
    };
    return d;
  };

  // takes a date and generates a number for the slider
  function generateNumber(dateThing) {
    var now = moment();
    return dateThing.diff(now, 'days');
  };

  // changes html to show the date based on slider position
  function displayDates(date) {
    var todayString = moment(date).format('MMMM Do, YYYY');
    $('.title').html('<h1>Living Presidents: ' + todayString + '</h1>');
    $(".selection").html(todayString);
  };

  // what it says on the tin
  function sortByInauguration(a,b) {
    return a.took_office > b.took_office ? 1 : -1;
  };


</script>
